<div class="container">

<!-- Button Adicionar modal -->
<button type="button" class="btn btn-success float-start m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Novo Curso
</button>
<br>
<br>
<div class="cabecatabela input-group mb-2">
  <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
  <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="buscar">
</div>
<br> 
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Descrição</th>
        <th>Data Inicial</th>
        <th>Data Final</th>
        <th>Alunos</th>
        <th>Categoria</th>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursosFiltrados; let i = index" >
            <td>{{i+1}}</td>
            <td>{{curso.descricao}}</td>
            <td>{{curso.dataInicial | date:"dd/MM/yy"}}</td>
            <td>{{curso.dataFinal | date:"dd/MM/yy"}}</td>
            <td>{{curso.qtdAlunos}}</td>
            <td>{{curso.categoria.categoriaName}}</td>
            <td>
                <button type="button" class="bt btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ExibeAtualizacao(curso.cursoId)">Atualizar</button> |
                <button type="button" class="bt btn-sm" data-bs-dismiss="modal" (click)="DeletarCurso(curso.cursoId)">Excluir</button>
            </td>
                
        </tr>
    </tbody>
</table>
</div>

  
  <!-- Adicionar Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <app-cadastro [formulario]="formulario"></app-cadastro>
        </div>
      </div>
    </div>
  </div>